<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ClientId" value="fcba649c-7024-4dc9-a560-5d126c12bc55"/>
      <add key="ClientSecret" value="VKh6E3nr3fVUO68935JQSGQZk2H65MwnRjvgqAsf2rA="/>
      <add key="TenantId" value="39e165d1-ec01-4e3b-9691-3c8268c2e60e"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>